{
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "unicorn"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/no-children-prop": "off",
    "prettier/prettier": ["error", {
      "printWidth": 140,
      "singleQuote": true,
      "trailingComma": "all",
      "semi": false
    }]
  }
}
