name: go-test

on: 
  push:
    branches:
      - master
  pull_request:
    paths:
      - go/** 
      - .github/workflows/gotest.yml

jobs:
  test:
    name: runner / gotest
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: initialize
        run: |
          cp .env/server.default .env/server
          make init
        working-directory: go
      
      - name: migration
        run: make article-migrate
        working-directory: migration

      - name: run test
        run: make test
        working-directory: go

      - name: upload coverage to codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.GO_DISTRIBUTED_MONOLITH_CODECOV_TOKEN }}
          name: coverage
          flags: unittests
          fail_ci_if_error: true
          directory: go
